<%- include('../partials/head') %>

<body>
    
    <div class="container">
        <h1>Perfil de <%= user.nombres %> <%= user.apellidos %></h1>
        <p>Email: <%= user.email %></p>
        <p><img src="/img/users/<%= user.profileImage %>" alt="Profile Image" style="max-width: 150px; border-radius: 50%;" /></p>
        <form action="/users/logout" method="POST">
            <button type="submit">Cerrar sesión</button>
        </form>
    </div>
</body>
</html>