<%- include('../partials/head') %>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f9;
        color: #333;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .container {
        flex: 1;
        max-width: 600px;
        margin: 50px auto;
        background: #fff;
        margin-top: 110px;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 2em;
        margin-bottom: 20px;
        color: #2c3e50;
    }

    p {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    img {
        display: block;
        margin: 20px auto;
        max-width: 150px;
        border-radius: 50%;
    }

    form {
        text-align: center;
    }

    button {
        background-color: #e74c3c;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #c0392b;
    }

    .btn-logout {
  background-color: #e74c3c; /* rojo */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.btn-logout:hover {
  background-color: #c0392b;
}

</style>

<body>
    <%- include('../partials/header') %>
    <button type="submit" class="btn-logout">Cerrar sesión</button>

    <div class="container">
        <h1>Perfil de <%= user.nombres %> <%= user.apellidos %></h1>
        <p>Email: <%= user.email %></p>
        <p><img src="/img/users/<%= user.profileImage %>" alt="Imagen de Perfil" /></p>
        <form action="/users/logout" method="POST">
            <button type="submit">Cerrar sesión</button>
        </form>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>
